@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
body {
  padding: 0;
  margin: 0;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.9))), url("../imgs/background.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("../imgs/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-family: "Raleway", sans-serif;
}

body #main {
  background: rgba(0, 0, 0, 0.5);
  min-width: 50vw;
  max-height: 100vh;
  min-height: 20vh;
  margin-top: 7vh;
  padding: 10px;
  position: relative;
}

body #main #MyCharacter {
  min-height: 50vh;
}

body #main #MyCharacter .name {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body #main #MyCharacter .name .text {
  padding-left: 10px;
  font-size: 1.2em;
}

body #main #MyCharacter.druid {
  background: bottom right url("../imgs/crests/druid.png") no-repeat;
  color: #ff7d0a;
}

body #main #MyCharacter.hunter {
  background: bottom right url("../imgs/crests/hunter.png") no-repeat;
  color: #abd473;
}

body #main #MyCharacter.mage {
  background: bottom right url("../imgs/crests/mage.png") no-repeat;
  color: #69ccf0;
}

body #main #MyCharacter.paladin {
  background: bottom right url("../imgs/crests/paladin.png") no-repeat;
  color: #f58cba;
}

body #main #MyCharacter.priest {
  background: bottom right url("../imgs/crests/priest.png") no-repeat;
  color: #ffffff;
}

body #main #MyCharacter.rogue {
  background: bottom right url("../imgs/crests/rogue.png") no-repeat;
  color: #fff569;
}

body #main #MyCharacter.shaman {
  background: bottom right url("../imgs/crests/shaman.png") no-repeat;
  color: #0070de;
}

body #main #MyCharacter.warlock {
  background: bottom right url("../imgs/crests/warlock.png") no-repeat;
  color: #9482c9;
}

body #main #MyCharacter.warrior {
  background: bottom right url("../imgs/crests/warrior.png") no-repeat;
  color: #c79c6e;
}

body #main #MyCharacter .icon {
  width: 40px;
  height: 40px;
}

body #main #MyCharacter .icon.druid {
  background: center center url("../imgs/class/64/druid.png") no-repeat;
  background-size: contain;
}

body #main #MyCharacter .icon.hunter {
  background: center center url("../imgs/class/64/hunter.png") no-repeat;
  background-size: contain;
}

body #main #MyCharacter .icon.mage {
  background: center center url("../imgs/class/64/mage.png") no-repeat;
  background-size: contain;
}

body #main #MyCharacter .icon.paladin {
  background: center center url("../imgs/class/64/paladin.png") no-repeat;
  background-size: contain;
}

body #main #MyCharacter .icon.priest {
  background: center center url("../imgs/class/64/priest.png") no-repeat;
  background-size: contain;
}

body #main #MyCharacter .icon.rogue {
  background: center center url("../imgs/class/64/rogue.png") no-repeat;
  background-size: contain;
}

body #main #MyCharacter .icon.shaman {
  background: center center url("../imgs/class/64/shaman.png") no-repeat;
  background-size: contain;
}

body #main #MyCharacter .icon.warlock {
  background: center center url("../imgs/class/64/warlock.png") no-repeat;
  background-size: contain;
}

body #main #MyCharacter .icon.warrior {
  background: center center url("../imgs/class/64/warrior.png") no-repeat;
  background-size: contain;
}

body #main #MyCharacter .stuff {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body #main #MyCharacter .stuff div {
  width: 40px;
  height: 40px;
  margin: 2px;
  border-radius: 2px;
}

body #main #MyCharacter .stuff .head {
  background: url("../imgs/stuff/inventoryslot_head.jpg");
  background-size: contain;
}

body #main #MyCharacter .stuff .hands {
  background: url("../imgs/stuff/inventoryslot_hands.jpg");
  background-size: contain;
}

body #main #MyCharacter .stuff .neck {
  background: url("../imgs/stuff/inventoryslot_neck.jpg");
  background-size: contain;
}

body #main #MyCharacter .stuff .waist {
  background: url("../imgs/stuff/inventoryslot_waist.jpg");
  background-size: contain;
}

body #main #MyCharacter .stuff .shoulder {
  background: url("../imgs/stuff/inventoryslot_shoulder.jpg");
  background-size: contain;
}

body #main #MyCharacter .stuff .legs {
  background: url("../imgs/stuff/inventoryslot_legs.jpg");
  background-size: contain;
}

body #main #MyCharacter .stuff .chest {
  background: url("../imgs/stuff/inventoryslot_chest.jpg");
  background-size: contain;
}

body #main #MyCharacter .stuff .feet {
  background: url("../imgs/stuff/inventoryslot_feet.jpg");
  background-size: contain;
}

body #main #MyCharacter .stuff .wrists {
  background: url("../imgs/stuff/inventoryslot_wrists.jpg");
  background-size: contain;
}

body #main #MyCharacter .stuff .finger {
  background: url("../imgs/stuff/inventoryslot_finger.jpg");
  background-size: contain;
}

body #main #MyCharacter .stuff .trinket {
  background: url("../imgs/stuff/inventoryslot_trinket.jpg");
  background-size: contain;
}

body #main #MyCharacter .stuff .mainhand {
  background: url("../imgs/stuff/inventoryslot_mainhand.jpg");
  background-size: contain;
}

body #main #MyCharacter .stuff .offhand {
  background: url("../imgs/stuff/inventoryslot_offhand.jpg");
  background-size: contain;
}

body #main #MyCharacter .stuff .relic {
  background: url("../imgs/stuff/inventoryslot_relic.jpg");
  background-size: contain;
}

body #main #Calendar .header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

body #main #Calendar .header .prev, body #main #Calendar .header .next {
  font-size: 2em;
}

body #main #Calendar .weekheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #main #Calendar .weekheader .day {
  width: 120px;
  margin: 5px;
  text-align: center;
  border: 1px solid #ffffff00;
}

body #main #Calendar .week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #main #Calendar .week .day {
  width: 120px;
  height: 120px;
  background: rgba(0, 0, 0, 0);
  margin: 5px;
  border: 1px solid white;
  position: relative;
  border-radius: 2px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #main #Calendar .week .day.passed {
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

body #main #Calendar .week .day.passed:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  background: rgba(255, 255, 255, 0.5);
}

body #main #Calendar .week .day.today {
  border: 1px solid yellow;
}

body #main #Calendar .week .day .number {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 1.2em;
}

body #main #Calendar .week .day .events {
  margin-top: 40px;
  bottom: 2px;
  right: 1.5px;
}

body #main #Calendar .week .day .events .raid {
  border: 2px solid #000;
  color: #FFFFFF;
  width: 110px;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #4b4b4b;
  border-radius: 2px;
}

body #main #Calendar .week .day .events .raid.accept {
  border: 2px solid green;
  background: #719b71;
}

body #main #Calendar .week .day .events .raid.refuse {
  border: 2px solid red;
  background: #974444;
}

body #main #Calendar .week .day .events .raid .icon {
  width: 40px;
  height: 70px;
}

body #main #Calendar .week .day .events .raid .icon.mc {
  background: url("../imgs/raids/mc.jpg");
}

body #main #Calendar .week .day .events .raid .icon.bwl {
  background: url("../imgs/raids/bwl.jpg");
}

body #main #Calendar .week .day .events .raid .icon.aq {
  background: url("../imgs/raids/aq.jpg");
}

body #main #Calendar .week .day .events .raid .icon.zg {
  background: url("../imgs/raids/zg.jpg");
}

body #main #Calendar .week .day .events .raid .icon.naxx {
  background: url("../imgs/raids/naxx.jpg");
}

body #main #Calendar .week .day .events .raid .icon.wb {
  background: url("../imgs/raids/wb.jpg");
}

body #main #Calendar .week .day .events .raid .icon.ony {
  background: url("../imgs/raids/ony.jpg");
}

body #main #Calendar .week .day .events .raid .icon.mc, body #main #Calendar .week .day .events .raid .icon.bwl, body #main #Calendar .week .day .events .raid .icon.aq, body #main #Calendar .week .day .events .raid .icon.naxx, body #main #Calendar .week .day .events .raid .icon.wg, body #main #Calendar .week .day .events .raid .icon.ony, body #main #Calendar .week .day .events .raid .icon.zg {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

body #main #Calendar .week .day .events .raid .name,
body #main #Calendar .week .day .events .raid .hours {
  text-align: center;
  width: 70px;
}

body #main #Calendar .week .day .events .raid .tools {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 10px;
}

body #main #Calendar .week .day .events .raid .tools .refuse,
body #main #Calendar .week .day .events .raid .tools .accept {
  border-radius: 2px;
  font-size: 20px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  background: #FFFFFF;
}

body #main #Calendar .week .day .events .raid .tools .refuse {
  color: red;
}

body #main #Calendar .week .day .events .raid .tools .refuse:hover {
  background: red;
  color: #ffffff;
}

body #main #Calendar .week .day .events .raid .tools .accept {
  color: green;
}

body #main #Calendar .week .day .events .raid .tools .accept:hover {
  background: green;
  color: #ffffff;
}

body #main #Calendar .week .day:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 1000;
  background: #ffffff;
  color: #000000;
}

body #nav {
  position: fixed;
  min-width: 100vw;
  height: 50px;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #nav ul {
  display: inline;
  margin: 0;
  padding: 0;
  margin-left: 50px;
}

body #nav li {
  display: inline;
  margin: 0 10px;
}

body #nav li a {
  color: #ffffff;
}

body #nav .profil {
  margin-right: 50px;
}

body .Login {
  margin-top: 5vh;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

body .Login .title {
  text-align: center;
  font-size: 1.2em;
  padding-bottom: 20px;
}

body .Login .register {
  text-align: center;
  font-size: 0.9em;
  margin: 10px 0 0 0;
  cursor: pointer;
}

body .Login label {
  display: block;
  margin: 10px 0 0 0;
}

body .Login input[type="text"],
body .Login input[type="password"] {
  padding: 5px;
  text-align: center;
  border-radius: 2px;
  border: 2px solid #ffffff;
  background-color: #777777 !important;
  font-size: 1.1em;
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
  outline: red;
}

body .Login input[type="text"]:focus,
body .Login input[type="password"]:focus {
  background: #c8c8c8 !important;
}

body .Login input {
  background-color: #777777 !important;
}

body .Login input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #777777 inset;
}

body .btn {
  background: blue;
  border: 2px solid blue;
  margin: 20px 0 0 0;
  text-align: center;
  padding: 5px;
  border-radius: 2px;
  font-size: 1.1em;
  cursor: pointer;
}

body .btn:hover {
  background: #ffffff;
  color: blue;
}
/*# sourceMappingURL=main.css.map */